/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variable';

body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.overflow-hidden {
  overflow: hidden
}

hidden {
  display: none
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.self-stretch {
  align-self: stretch
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.flex-auto {
  flex: 1 1 auto
}

.flex-shrink-0 {
  flex-shrink: 0
}

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e2e8f0;
  /* 2 */
}

.button {
    background-color: $foreground;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 20px;
    &.black{
        background-color: #555555;
    }
  }